USE [master]
GO
/****** Object:  Database [TestMaker]    Script Date: 08/05/2025 10:40:50 PM ******/
CREATE DATABASE [TestMaker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestMaker', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestMaker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestMaker_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestMaker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestMaker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestMaker]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountName] [varchar](100) NULL,
	[email] [varchar](1023) NULL,
	[password] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [varchar](1023) NULL,
	[questionId] [int] NULL,
	[isCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[description] [varchar](1023) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletedAnswer]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedAnswer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contestantId] [int] NULL,
	[examId] [int] NULL,
	[questionId] [int] NULL,
	[answerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contestant]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contestant](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[dateOfBirth] [date] NULL,
	[gender] [char](10) NULL,
	[phoneNumber] [char](10) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnrolledClass]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnrolledClass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[classId] [int] NULL,
	[contestantId] [int] NULL,
	[grade] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[description] [varchar](1023) NULL,
	[examDate] [date] NULL,
	[duration] [numeric](3, 0) NULL,
	[questionAmount] [int] NULL,
	[maxScore] [int] NULL,
	[startTime] [time](7) NULL,
	[classId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamGrade]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamGrade](
	[contestantId] [int] NULL,
	[examId] [int] NULL,
	[grade] [numeric](4, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correctAnswerCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 08/05/2025 10:40:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [varchar](4095) NULL,
	[examId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminAccount] ON 

INSERT [dbo].[AdminAccount] ([id], [accountName], [email], [password]) VALUES (1, N'Admin2', N'admin2@gmail.com', N'1234567')
SET IDENTITY_INSERT [dbo].[AdminAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([id], [content], [questionId], [isCorrect]) VALUES (1, N'Cell', 1, 1)
INSERT [dbo].[Answer] ([id], [content], [questionId], [isCorrect]) VALUES (2, N'Tissue', 1, 0)
INSERT [dbo].[Answer] ([id], [content], [questionId], [isCorrect]) VALUES (3, N'Organ', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Answer] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([id], [name], [description], [startDate], [endDate]) VALUES (1, N'Computer Science', N'Introduces students to programming, algorithms, data structures, and digital literacy. Prepares them for technology''s proficiency in the modern world.', CAST(N'2025-04-02' AS Date), CAST(N'2025-08-05' AS Date))
INSERT [dbo].[Class] ([id], [name], [description], [startDate], [endDate]) VALUES (2, N'Math', N'Covers topics such as arithmetic, algebra, geometry, trigonometry, and calculus. Focuses on developing problem-solving skills and logical reasoning.', CAST(N'2025-04-01' AS Date), CAST(N'2025-08-01' AS Date))
INSERT [dbo].[Class] ([id], [name], [description], [startDate], [endDate]) VALUES (3, N'History', N'Explores significant events, cultures, and people from the past. Helps students understand historical context, cause and effect, and global connections.', CAST(N'2025-04-01' AS Date), CAST(N'2025-08-01' AS Date))
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[CompletedAnswer] ON 

INSERT [dbo].[CompletedAnswer] ([id], [contestantId], [examId], [questionId], [answerId]) VALUES (1, 71, 3, 6, 23)
INSERT [dbo].[CompletedAnswer] ([id], [contestantId], [examId], [questionId], [answerId]) VALUES (2, 71, 3, 7, 27)
INSERT [dbo].[CompletedAnswer] ([id], [contestantId], [examId], [questionId], [answerId]) VALUES (3, 71, 3, 8, 29)
SET IDENTITY_INSERT [dbo].[CompletedAnswer] OFF
GO
SET IDENTITY_INSERT [dbo].[Contestant] ON 

INSERT [dbo].[Contestant] ([id], [firstName], [lastName], [dateOfBirth], [gender], [phoneNumber], [email], [password]) VALUES (1, N'Alice', N'Smith', CAST(N'1990-05-14' AS Date), N'Female    ', N'1234567890', N'alice.smith@example.com', N'Password1!')
INSERT [dbo].[Contestant] ([id], [firstName], [lastName], [dateOfBirth], [gender], [phoneNumber], [email], [password]) VALUES (2, N'Bob', N'Johnson', CAST(N'1985-11-22' AS Date), N'Male      ', N'2345678901', N'bob.johnson@example.com', N'Password2!')
INSERT [dbo].[Contestant] ([id], [firstName], [lastName], [dateOfBirth], [gender], [phoneNumber], [email], [password]) VALUES (3, N'Catherine', N'Brown', CAST(N'1992-02-10' AS Date), N'Female    ', N'3456789012', N'catherine.brown@example.com', N'Password3!')
SET IDENTITY_INSERT [dbo].[Contestant] OFF
GO
SET IDENTITY_INSERT [dbo].[EnrolledClass] ON 

INSERT [dbo].[EnrolledClass] ([id], [classId], [contestantId], [grade]) VALUES (1, 2, 71, NULL)
INSERT [dbo].[EnrolledClass] ([id], [classId], [contestantId], [grade]) VALUES (2, 1, 71, NULL)
INSERT [dbo].[EnrolledClass] ([id], [classId], [contestantId], [grade]) VALUES (3, 3, 71, CAST(20.00 AS Numeric(5, 2)))
SET IDENTITY_INSERT [dbo].[EnrolledClass] OFF
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([id], [title], [description], [examDate], [duration], [questionAmount], [maxScore], [startTime], [classId]) VALUES (1, N'Mathematics Final Exam', N'Comprehensive exam covering all math topics.', CAST(N'2025-04-19' AS Date), CAST(60 AS Numeric(3, 0)), 50, 100, CAST(N'09:00:00' AS Time), 2)
INSERT [dbo].[Exam] ([id], [title], [description], [examDate], [duration], [questionAmount], [maxScore], [startTime], [classId]) VALUES (2, N'Biology Midterm Exam', N'Assessment of knowledge on biological concepts.', CAST(N'2025-05-10' AS Date), CAST(5 AS Numeric(3, 0)), 5, 10, CAST(N'10:30:00' AS Time), 6)
INSERT [dbo].[Exam] ([id], [title], [description], [examDate], [duration], [questionAmount], [maxScore], [startTime], [classId]) VALUES (3, N'History Quiz', N'Short quiz on major historical events.', CAST(N'2025-04-22' AS Date), CAST(10 AS Numeric(3, 0)), 10, 50, CAST(N'08:15:00' AS Time), 3)
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamGrade] ON 

INSERT [dbo].[ExamGrade] ([contestantId], [examId], [grade], [id], [correctAnswerCount]) VALUES (71, 3, CAST(20.00 AS Numeric(4, 2)), 3, 4)
INSERT [dbo].[ExamGrade] ([contestantId], [examId], [grade], [id], [correctAnswerCount]) VALUES (1, 3, CAST(25.00 AS Numeric(4, 2)), 4, 5)
INSERT [dbo].[ExamGrade] ([contestantId], [examId], [grade], [id], [correctAnswerCount]) VALUES (2, 3, CAST(30.00 AS Numeric(4, 2)), 5, 6)
SET IDENTITY_INSERT [dbo].[ExamGrade] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([id], [content], [examId]) VALUES (1, N'What is the basic unit of life?', 2)
INSERT [dbo].[Question] ([id], [content], [examId]) VALUES (2, N'Which organelle is known as the powerhouse of the cell?', 2)
INSERT [dbo].[Question] ([id], [content], [examId]) VALUES (3, N'What process do plants use to convert sunlight into energy?', 2)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_questionId] FOREIGN KEY([questionId])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_questionId]
GO
ALTER TABLE [dbo].[CompletedAnswer]  WITH CHECK ADD  CONSTRAINT [FK_CompletedAnswer_answerId] FOREIGN KEY([answerId])
REFERENCES [dbo].[Answer] ([id])
GO
ALTER TABLE [dbo].[CompletedAnswer] CHECK CONSTRAINT [FK_CompletedAnswer_answerId]
GO
ALTER TABLE [dbo].[CompletedAnswer]  WITH CHECK ADD  CONSTRAINT [FK_CompletedAnswer_contestantId] FOREIGN KEY([contestantId])
REFERENCES [dbo].[Contestant] ([id])
GO
ALTER TABLE [dbo].[CompletedAnswer] CHECK CONSTRAINT [FK_CompletedAnswer_contestantId]
GO
ALTER TABLE [dbo].[CompletedAnswer]  WITH CHECK ADD  CONSTRAINT [FK_CompletedAnswer_examId] FOREIGN KEY([examId])
REFERENCES [dbo].[Exam] ([id])
GO
ALTER TABLE [dbo].[CompletedAnswer] CHECK CONSTRAINT [FK_CompletedAnswer_examId]
GO
ALTER TABLE [dbo].[CompletedAnswer]  WITH CHECK ADD  CONSTRAINT [FK_CompletedAnswer_questionId] FOREIGN KEY([questionId])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[CompletedAnswer] CHECK CONSTRAINT [FK_CompletedAnswer_questionId]
GO
ALTER TABLE [dbo].[EnrolledClass]  WITH CHECK ADD  CONSTRAINT [FK_ClassGrade_classId] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[EnrolledClass] CHECK CONSTRAINT [FK_ClassGrade_classId]
GO
ALTER TABLE [dbo].[EnrolledClass]  WITH CHECK ADD  CONSTRAINT [FK_ClassGrade_contestantId] FOREIGN KEY([contestantId])
REFERENCES [dbo].[Contestant] ([id])
GO
ALTER TABLE [dbo].[EnrolledClass] CHECK CONSTRAINT [FK_ClassGrade_contestantId]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_classId] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_classId]
GO
ALTER TABLE [dbo].[ExamGrade]  WITH CHECK ADD  CONSTRAINT [FK_Grades_constestantId] FOREIGN KEY([contestantId])
REFERENCES [dbo].[Contestant] ([id])
GO
ALTER TABLE [dbo].[ExamGrade] CHECK CONSTRAINT [FK_Grades_constestantId]
GO
ALTER TABLE [dbo].[ExamGrade]  WITH CHECK ADD  CONSTRAINT [FK_Grades_examId] FOREIGN KEY([examId])
REFERENCES [dbo].[Exam] ([id])
GO
ALTER TABLE [dbo].[ExamGrade] CHECK CONSTRAINT [FK_Grades_examId]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_examId] FOREIGN KEY([examId])
REFERENCES [dbo].[Exam] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_examId]
GO
USE [master]
GO
